// ----------------------
// Susy Grids Config
// ----------------------

// 以下千萬不要動
// 這是拿來設compass跟susy
$baseFontSize	: 16px;
$baseLineHeight	: 24px;
// // 以上千萬不要動

@import "vendor/susy";
@include border-box-sizing;

// 基本設定
$total-columns    : 4;
$column-width     : 3.75em;        //60
$gutter-width	    : 1.25em;        //20
$grid-padding     : $gutter-width; //20

$phone            :	4;
// $break-ipad			: 671px 8;  // min-width 641px 寬度超過 641px 後的欄位數量
// $break-desktop	: 941px 12; // min-width 941px 寬度超過 941px 後的欄位數量
$ipad             : 671px;  // min-width 641px 寬度超過 641px 後的欄位數量
$desktop          : 941px; // min-width 941px 寬度超過 941px 後的欄位數量
$small						: 320px;  // small phone
// $smart-p					: 480px;  // smartphone portrait
// $smart-l					: 640px;  // smartphone landscape
// $tablet-p					: 768px;  // tablet portrait
// $dektop-m					: 980px;  // desktop medium
// $tablet-l					: 1024px; // tablet landscape
// $break-desktop-l	: 1170px; // desktop large
// $break-desktop-w	: 1360px; // desktop wide

// ---------------------------------------------------------------------------
// convert to em's for better compatibility
// ---------------------------------------------------------------------------
@function toEm($px-size, $base-size: 16px) {
	@return $px-size / $base-size * 1em;
}

// ---------------------------------------------------------------------------
// alternative layout breakpoints
// ---------------------------------------------------------------------------
$break-small			: toEm($small) 4;
$break-ipad       : toEm($ipad) 8;
$break-desktop    : toEm($desktop) 12;
// $break-smart-p		: toEm($smart-p);   //30em
// $break-smart-l		: toEm($smart-l);   //40em
// $break-tablet-p		: toEm($tablet-p);  //48em
// $break-dektop-m		: toEm($dektop-m);  //61.25em
// $break-tablet-l		: toEm($tablet-l);  //64em
// $break-desktop-l	: toEm($break-desktop-l); //73.125em
// $break-desktop-w	: toEm($break-desktop-w); //85em


// MObile
// Sony Xpreia z / z1 , 360x640 ratio 3
// Apple iPhone 3GS , 320x480 ratio 1
// Apple iPhone 4 / 4s , 320x480 ratio 1.5
// Apple iPhone 5 / 5s , 320x568 ratio 2
// Apple iPhone 6 , 375x664 ratio 2
// Apple iPhone 6+, 414x736 ratio 3

// Tablet
// Apple iPad 1 / 2 / Mini , 768x1024 ratio 1
// Apple iPad 3 / 4 , 768x1024 ratio 2


// >> TO /layout/.. seeting

// Requirements
// ============


// Static Style 
$page-container: ".container";

#{$page-container} {
	@include container($total-columns, $break-ipad, $break-desktop);
	@include pie-clearfix;
}
// 做版面
// 一般版（mobile first)
.container {
	display: block;
	// iPad 版本
	
}


// iPad 版本
@include at-breakpoint($break-ipad) {
	display: none;
}

// 幫助排版的背景，可以拿掉 
$grid-background-column-color: rgba(#97D561,.5);
.container {
	@include susy-grid-background;
	@include at-breakpoint($break-ipad) {
		@include susy-grid-background;
	}
	@include at-breakpoint($break-desktop) {
		@include susy-grid-background;
	}
}
